// Mobile view
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 7.5rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  .undercard {
    padding: 1rem 0 !important;
    .box {
      text-align: center;
    }
  }

  .bottom {
    .ry {
      justify-content: space-evenly !important;
    }
    .time-of-day {
      text-align: center;
    }
    h2 {
      font-size: 2rem !important;
    }
  }

  .quote-text-box {
    align-items: center !important;
    justify-content: space-around !important;
    text-align: center;
  }
}

// Tablet view
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 8.5rem !important;
  }
}
